#display {
	padding: 5%;
	height: max-content;
	border: 2px solid black;
	margin: 3%;
	font: 400 1.8em serif;
}

.load:after {
	display: block;
	clear: both;
	content: '';
	animation: loading .4s infinite;
}

form[disabled="true"] {
	pointer-events: none;
	cursor: not-allowed;
	position: relative;
	color: #ccc;
}

form[disabled="true"] input {
	background-color: #f0f0f0;
	color: #aaa;
	outline: none;
	border-color: transparent;
}

form[disabled="true"] button {
	background-color: #f1f1f1;
	color: #ccc;
	border-color: transparent;	
}

@keyframes loading {
	0% {
		content: '../';
	}
	25% {
		content: '..-';
	}
	75% {
		content: '..\\';
	}
	100% {
		content: '../';
	}
}