body {
	overflow: hidden;
}

.off {
	display: none;
}

#header {
	position: fixed;
	top: 0;
	left: 50%;
	translate: -50%;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: white;
	max-width: 750px;
}

#header > div {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font: 700 1.5em 'Arial';
	cursor: pointer;
}

#header > div:not(.active):hover {
	background-color: #e0e0e0;
}

.active {
	border: 4px solid #888;
	background-color: #c0c0c0;
}

#wrap {
	width: 100%;
	overflow: auto;
	margin-top: 70px;
}


#display {
	padding: 5%;
	height: max-content;
	border: 2px solid black;
	margin: 3%;
	font: 400 1.8em serif;
}

.loading:after {
	display: block;
	clear: both;
	content: '';
	animation: loading .4s infinite;
}

form[disabled="true"] {
	pointer-events: none;
	cursor: not-allowed;
	position: relative;
	color: #ccc;
}

form[disabled="true"] input {
	background-color: #f0f0f0;
	color: #aaa;
	outline: none;
	border-color: transparent;
}

form[disabled="true"] button {
	background-color: #f1f1f1;
	color: #ccc;
	border-color: transparent;	
}

@keyframes loading {
	0% {
		content: '../';
	}
	25% {
		content: '..-';
	}
	75% {
		content: '..\\';
	}
	100% {
		content: '../';
	}
}